.body-todos{
      background: linear-gradient(
  37deg,
    rgba(48, 16, 155, 1) 30%,
    rgba(100, 105, 255, 1) 50%,
    rgba(9, 35, 185, 0.795) 10%
  );

    height: 100vH;
    padding-top: 50px;
}
