/* .main-cnt{
    margin: auto !important;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    margin-bottom: 40px !important;
    color: black;
}
p{
    color: black;
}

.email{
    position: relative;
 left: 300px;

  top: -950px;
  font-size: 20px;
} */
